# Microsoft OneDrive / Graph
ONEDRIVE_TENANT=consumers
ONEDRIVE_CLIENT_ID=
ONEDRIVE_SCOPES="User.Read Files.Read.All offline_access"
ONEDRIVE_CAMERA_UPLOAD_PATH="/Pictures/Camera Roll"
ONEDRIVE_CAMERA_UPLOAD_FALLBACK_PATHS="/Pictures/CameraRoll,/Pictures/Camera Uploads,/Pictures/OneDrive Camera Roll"

# MySQL (either MYSQL_DSN or project-scoped vars)
MYSQL_DSN=mysql://user:password@127.0.0.1:3306/ImageTracker?charset=utf8mb4
# IMAGETRACKER_MYSQL_HOST=127.0.0.1
# IMAGETRACKER_MYSQL_PORT=3306
# IMAGETRACKER_MYSQL_USER=user
# IMAGETRACKER_MYSQL_PASSWORD=password
# IMAGETRACKER_MYSQL_DATABASE=ImageTracker
#
# Compatibility fallbacks (if you cannot use IMAGETRACKER_MYSQL_*):
# MYSQL_HOST=127.0.0.1
# MYSQL_PORT=3306
# MYSQL_USERID=user
# MYSQL_PASSWORD=password
# MYSQL_DATABASE_IMAGETRACKER=ImageTracker
#
# Generic MYSQL_USER / MYSQL_DATABASE are also supported, but lower priority.
# MYSQL_HOST=127.0.0.1
# MYSQL_PORT=3306
# MYSQL_USER=user
# MYSQL_PASSWORD=password
# MYSQL_DATABASE=ImageTracker

# Optional captioning
OPENAI_API_KEY=
OPENAI_VISION_MODEL=gpt-4.1-mini
PHOTO_SYNC_INITIAL_CUTOFF_DAYS=14
PHOTO_CAPTION_MAX_WORDS=18
